@import url("https://andybrewer.github.io/mvp/mvp.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --color-secondary: #9b9b9b;
  --color-bg-hover: #fafafa;
  --color-text-white: #fff;
  --width-content: 800px;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5em 2em rgb(0, 0, 0, 0.5);
  height: 360px;
  margin: auto;
  padding: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 52px;
  color: var(--color-text-white);
  text-shadow: 4px 4px 1px rgb(0, 0, 0, 0.5);
}

.search {
  max-width: var(--width-content);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > form {
  all: unset;
}

.search > form > input {
  font-family: var(--font);
  margin: auto;
  outline: none;
  font-size: 24px;
}

.toolbar {
  max-width: var(--width-content);
  margin: auto;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
}

.toolbar__column:nth-child(1) {
  margin-left: 12px;
}

.job-container {
  max-width: var(--width-content);
  margin: auto;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.job {
  border-top: 1px solid var(--color-bg-secondary);
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job:hover {
  background-color: var(--color-bg-hover);
}

.job__column {
  padding: 0px 8px;
}

.job__column:nth-child(2) {
  width: 100%;
}

.job__column .company {
  margin: 4px;
  color: var(--color-text-secondary);
}

.job__column .title {
  margin: 4px;
}

.job__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job__logo.text {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  font-size: x-large;
}
