<!DOCTYPE html>
<html>

<head>
	<title>
		Remote Jobs
	</title>
	<link href={{url_for('static', filename='style.css')}} rel="stylesheet">
	</link>
</head>

<body>
	<header>
        <a href="/">
		    <h1 class="logo">remote jobs</h1>
        </a>
        <div class="search">
            <form action="/search">
                <input id="search-input" placeholder="i.e python" name="term" value="{{term}}" required autofocus/>
            </form>
        </div>
	</header>
	<main>
    </main>
    <script type="text/javascript" src={{url_for('static', filename='global.js')}}>
    </script>
</body>

</html>