<!DOCTYPE html>
<html>

<head>
	<title>
		Remote Jobs
	</title>
	<link href={{url_for('static', filename='style.css')}} rel="stylesheet">
	</link>
</head>

<body>
	<header>
		<h1>Remote Jobs</h1>
	</header>
	<main>
		<div>
			<form action="/search">
				<h3>Search by term:</h3>
				<input placeholder="i.e python" required name="term" />
            <button type="submit" id="findButton">Find my job</button>
        </form>
        </div>
    </main>
    <script type="text/javascript" src={{url_for('static', filename='home.js')}}>
    </script>
</body>

</html>