<!DOCTYPE html>
<html>

<head>
	<title>
		Remote Jobs | {{term}}
	</title>
	<link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
	</link>
</head>

<body>
	<header>
		<h1>Remote Jobs</h1>
		<h3>{{job_count}} {{term}} jobs found.</h3>
		<h5><a href="/export?term={{term}}">Export to CSV</a></h5>
		<h6><a href="/">&larr; Go back</a></h6>
	</header>
	<main>
		<!-- loop -->
		<div>
			<h3>Title</h3>
			<h4>Company</h4>
			<a href="https://stackoverflow.com/jobs/xxxxxx/" target="_blank">Apply</a>
		</div>
		<hr />
		<!-- loop -->
	</main>
</body>

</html>