<!DOCTYPE html>
<html>

<head>
	<title>
		Remote Jobs | {{term}}
	</title>
	<link href={{ url_for( 'static', filename='style.css' ) }} rel="stylesheet">
	</link>
	</link>
</head>

<body>
{% include 'header.html' %}
	<main>
        <section class="toolbar">
            <div class="toolbar__column">
                <p>{{job_count}} remote <b>{{term}}</b> jobs found.</p>
            </div>
            <div class="toolbar__column">
                <a href="/export?term={{term}}"><b>Export to CSV</b></a>
            </div>
        </section>
		<section class="job-container">
			{% for job in jobs %}
			<div class="job">
				<div class="job__column">
                    {% if job.logo_url %}
                    <img class="job__logo image" src="{{job.logo_url}}"></img>
                    {% else %}
                    <div class="job__logo text">{{job.text_logo}}</div>
                    {% endif %}
				</div>
				<div class="job__column">
					<h4 class='company'>{{job.company}}</h4>
					<h3 class='title'>{{job.title}}</h3>
				</div>
				<div class="job__column">
					<a href="{{job.url}}" target="_blank"><em>Apply</em></a>
				</div>
			</div>
			{% endfor %}
		</section>
	</main>
{% include 'footer.html' %}
    <script type="text/javascript" src={{url_for('static', filename='global.js')}}>
    </script>
</body>

</html>